.header{
    position: sticky;
    top: 5px;
    display: flex;
    height: 50px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}

.header > :first-child{
    flex: 1;
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.header > :nth-child(n+2){
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.parent{
    height: 200px;
    width: 200px;
    margin: 20px;
    border: 3px solid gold;
    border-radius: 5px;
    position: relative;
}

.circle1 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid gold;
}
.circle2 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid gold;
    top: 20px;
    position: static;
}

.circle2:hover{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 3px solid gold;
    top: -20px;
}

.button{
    padding: 10px;
    border: 0px solid #e5e5e5;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: background-color 2s, color 5s;
    transition-delay: 10s;
}

.button:hover{
    background-color: #7b4747;
    color: #f5f5f5;
}

.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: gold;
    position: fixed;
    bottom: 20px;
    right: 20px;
}